[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ExpertChoice"]
	path = ExpertChoice
	url = https://github.com/jedstephens/expertchoice
